{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method='POST' class="btn btn-outline-info">
        <label for="fname">Course Name:</label><br>       
        <input type="text" id="course_name" name="course_name"  value={{course.course_name}} required/><br><br>
        <label for="fname">User Description:</label><br>       
        <input type="text" id="user_description" name="user_description"  value={{course.user_description}} required/><br><br>
        <label for="fname">Course Credits:</label><br>       
        <input type="number" id="course_credits" name="course_credits" value={{course.course_credits}} required/><br><br>
        <label for="fname">IS Course Active:</label><br>       
        <input type="checkbox" id="is_active" name="is_active"  /><br><br>
        <label for="fname">Course Year:</label><br>       
        <input type="number" id="course_year" name="course_year"  value={{course.course_year}} required/><br><br>
        <label for="fname">Course Semester:</label><br>       
        <input type="text" id="course_semester" name="course_semester" value={{course.course_semester}} required/><br><br>
        <label for="fname">Venues:</label><br>       
        {% for venue in venues %}
        <input type="radio" id={{ venue.venue_id }} value={{ venue.venue_id }} name="venues" />
        <label for="fname"> {{venue.venue_building}} {{venue.venue_class_number}}</label><br>       
        {% endfor %}<br>
        <label for="fname">Course Time Slot:</label><br>       
        <input type="text" id="course_time_slot" name="course_time_slot" value={{course.course_time_slot}} required/><br><br>
        <label for="fname">Is Course Online:</label><br>       
        <input type="checkbox" id="is_course_online" name="is_course_online"  /><br><br>
        <input type="submit" value="Update Course" />
    </form>
</div>
<div class="form-group">
    <form action={{ url_for('course_details', course_id=course.course_id) }} class="btn btn-outline-info">
        <input type="submit" value="Back" />
    </form>
</div>
<div class="form-group">
    <form method="POST" action="/logout" class="btn btn-outline-info">
        <input type="submit" value="Logout" />
    </form>
</div>
{% endblock content %}
